.container {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 16px;
  background-color: #5553c2;
  color: white;
  cursor: pointer;
}

.button:disabled {
  background-color: #28266474;
  cursor: not-allowed;
}
