.categoryList {
  margin-top: 35px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.categoryItem {
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 14px;
}

.categoryItem.lifestyle {
  background-color: #008080;
  color: white;
}

.categoryItem.business {
  background-color: #8b6508;
  color: white;
}

.categoryItem.product {
  background-color: #800000;
  color: white;
}

.categoryItem.travel {
  background-color: #3d3d3d;
  color: white;
}

.categoryItem.coding {
  background-color: #0b3d02;
  color: white;
}

.categoryItem.food {
  background-color: #001f3f;
  color: white;
}

.categoryItem.books {
  background-color: #2f4f4f;
  color: white;
}
