.portfolioLink {
  color: aqua;
  text-decoration: underline;
  padding-top: 4px;
}

.container {
}

.mainTitle {
  font-size: 80px;
}

.categoryTitle {
  color: #53c28b;
}

.item {
  display: flex;
  border-radius: 10px;
  background-color: rgba(37, 37, 37, 0.784);
  color: #d3d3d3;
  margin-top: 50px;
  padding: 18px;
  /* margin-left: auto;
  margin-right: auto; */
  max-width: 600px;
}

.cardLeft {
  flex: 1;
}

.dates {
  font-size: 13px;
  padding-right: 4px;
}

.cardRight {
  flex: 3;
}

.titleAndEmployer {
  color: white;
  padding-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .mainTitle {
    font-size: 45px;
  }

  .categoryTitle {
    font-size: 28px;
  }
}
