.portfolioLink {
  color: aqua;
  text-decoration: underline;
  padding-top: 4px;
}

.container {
}

.experience {
  margin: 0 auto;
  max-width: 600px;
}

.mainTitle {
  font-size: 65px;
  /* position: relative;
  top: 10px; */
}

.categoryTitle {
  color: #53c28b;
  margin-top: 40px;
  margin-bottom: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.item {
  display: flex;
  border-radius: 5px;
  background-color: rgba(37, 37, 37, 0.784);
  color: #d3d3d3;
  padding: 18px;
}

.lightModeItem {
  display: flex;
  border-radius: 5px;
  background-color: rgba(234, 232, 232, 0.784);
  color: black;
  /* margin-top: 50px; */
  padding: 18px;
  max-width: 600px;
}

.item:hover {
  display: flex;
  border-radius: 5px;
  background-color: rgba(74, 74, 74, 0.784);
  color: #d3d3d3;
  /* margin-top: 50px; */
  padding: 18px;
  max-width: 600px;
}

.cardLeft {
  flex: 1;
}

.dates {
  font-size: 13px;
  padding-right: 4px;
}

.cardRight {
  flex: 3;
}

.cardTitle {
  color: white;
  padding-bottom: 10px;
}

.lightModeCardTitle {
  color: black;
  padding-bottom: 10px;
  font-weight: 500;
}

.link {
  color: #a3a2fd;
  cursor: pointer;
}

.lightModeLink {
  color: #6f6cff;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .mainTitle {
    font-size: 45px;
  }

  .categoryTitle {
    font-size: 28px;
  }
}
