.container {
}

.mainTitle {
  font-size: 100px;
}

.categoryTitle {
  color: #53c28b;
}

.item {
  display: flex;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.item:nth-child(2n + 1) {
  flex-direction: row-reverse;
}

.imgContainer {
  flex: 1;
  height: 500px;
  position: relative;
}

.img {
  object-fit: contain;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.title {
  font-size: 50px;
}

.description {
  font-size: 20px;
}

.inDevelopmentButton {
  padding: 20px;
  cursor: pointer;
  background-color: #525256;
  border: none;
  border-radius: 5px;
  width: max-content;
  color: white;
}

@media only screen and (max-width: 768px) {
  .mainTitle {
    font-size: 70px;
  }

  .img {
    display: none;
  }

  .imgContainer {
    display: none;
  }

  .item:nth-child(2n + 1) {
    display: none;
  }
}
