.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logout {
  padding: 5px;
  border: none;
  background-color: #5553c2;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

.menu {
  display: none;
}

@media only screen and (max-width: 768px) {
  .container {
    height: auto;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .links {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .logo {
    padding-bottom: 5px;
  }

  /* .menu {
    display: inline;
    height: 30px;
    width: auto;
    filter: invert() opacity(70%);
  } */
}
