.container {
  height: 50px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  opacity: 0.9;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .container {
    height: auto;
    padding-top: 25px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
  }

  .social {
    padding-bottom: 5px;
  }

  .icon {
    height: 25px;
    width: auto;
    padding-right: 3px;
  }
}
